[submodule "submodules/ServiceStack.Text"]
	path = submodules/ServiceStack.Text
	url = https://github.com/ServiceStack/ServiceStack.Text.git
	branch = v3
[submodule "submodules/abacus"]
	path = submodules/abacus
    url=https://github.com/blimey3D/abacus.git
	branch = development
[submodule "submodules/oats"]
	path = submodules/oats
    url=https://github.com/blimey3D/oats.git
[submodule "submodules/cor"]
	path = submodules/cor
	url = git@github.com:blimey3D/cor.git
[submodule "submodules/blimey"]
	path = submodules/blimey
	url = git@github.com:blimey3D/blimey.git
[submodule "submodules/fudge"]
	path = submodules/fudge
	url = git@github.com:blimey3D/fudge.git
