[submodule "submodules/abacus"]
	path = submodules/abacus
url=https://github.com/blimey/abacus.git
	branch = development
[submodule "submodules/oats"]
	path = submodules/oats
url=https://github.com/blimey/oats.git
[submodule "submodules/cor"]
	path = submodules/cor
url=git@github.com:blimey/cor.git
[submodule "submodules/blimey"]
	path = submodules/blimey
url=git@github.com:blimey/blimey.git
[submodule "submodules/fudge"]
	path = submodules/fudge
url=git@github.com:blimey/fudge.git
